:root {
    --card-ratio: 1.6;
    --border-radius: 15px;
    --purple-glow: rgba(147, 112, 219, 0.3);
    --purple-dark: rgba(75, 0, 130, 0.2);
    --blueviolet-glow: rgba(138, 43, 226, 0.1);
    --white-transparent: rgba(255, 255, 255, 0.2);
    --white-glow: rgba(255, 255, 255, 0.3);
    --black-shadow: rgba(0, 0, 0, 0.3);
    --black-deep-shadow: rgba(0, 0, 0, 0.4);
    --common-shadow: 0 0 15px var(--white-glow);
    --hover-shadow: 
        0 10px 20px var(--black-deep-shadow),
        0 0 30px var(--purple-glow);
    --solved-shadow: 
        0 8px 16px var(--black-shadow),
        0 0 30px var(--blueviolet-glow);
}

.cards-container {
    display: grid;

    grid-template-columns: repeat(5, auto);
    justify-content: start; /* 왼쪽 정렬 */
    gap: 10px;
    overflow: hidden;
    position: relative;
}

#challengeGrid {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.pages-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    overflow: visible;
}

.page {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 25px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.page.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.card {
    position: relative;
    width: 100%;
    padding-bottom: calc(140% + 20px);
    margin-bottom: 20px; 
    /* # 삭제 할 필요가 있을 수도 */
    cursor: pointer;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: var(--border-radius);
    box-shadow: var(--common-shadow);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card-front {
    background-image: url('../images/card_back.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(2deg);
    border: 3px solid var(--purple-dark);
    box-shadow: 
        0 0 20px var(--blueviolet-glow),
        inset 0 0 15px var(--purple-dark);
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    transform: rotateY(180deg);
    background: #1a1a1a;
    border: 3px solid var(--white-transparent);
}

#monster-card img,
.monster-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 10px; */
    background: #000;
}

.card:hover .card-inner {
    transform: translateY(-10px) scale(1.02);
    box-shadow: var(--hover-shadow);
}

.card.solved .card-inner {
    transform: rotateY(180deg);
    box-shadow: var(--solved-shadow);
}

@media (max-width: 1200px) {
    .page {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .page {
        gap: 10px;
    }
}
