# 기본 옵션 설정
Options -Indexes
Options -MultiViews

# PHP 오류 표시 설정
php_flag display_errors off

# 기본 문자셋 설정
AddDefaultCharset UTF-8

# script.js 파일 접근 차단
<Files "script.js">
    Order allow,deny
    Deny from all
</Files>

# 모든 요청에 대해 접근 허용
Require all granted

# 확장자 숨기기
RewriteEngine On 
RewriteRule ^index$ index.html [L]
RewriteRule ^flame$ flame.html [L]